/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .mat-tab-label{
        font-size: .65em;
    }
    .mat-mdc-tab-header .mat-mdc-tab-link{
      padding: 1px;
    }
  }

