<br/>
<div class="image-wrapper">
    <img class="responsive-image" [src]="poster">
</div>
<br/>
<div>
    <h2 class="text-center">Entry</h2>
      
    <div class="text-center">
        <div class="text-center">Tickets available from club members</div>
        <div class="text-center">Club phone number (091) 771 609</div>
        <div class="text-center">Start date 11th November (Gameweek 12)</div>
        <div class="text-center">Pick first two rounds up front</div>
        <div class="text-center"><a href="https://www.facebook.com/MervueutdAFC"><img class="fb_icon" src="/assets/Facebook_icon.png"/>  More details on our Facebook site</a> </div>
    </div>
</div>
<br/>
<div>
    <h2 class="text-center">Rules</h2>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul>
                <li>Each week players pick one team from the set of premier league fixtures</li>
                <li>If the team wins the player goes through to the next round</li>
                <li>If the team loses or draws the player is out</li>
                <li>Players can only pick each team once during the competition</li>
                <li>Players who are still alive must pick their team before the weeks deadline</li>
                <li>Players who fail to pick a team will be assigned the next alphabetical team available to them</li>
                <li>If a players team has their game postponed the player will qualify for the next round and the team cannot be picked again</li>
                <li>If your chosen team playes twice in a gameweek only the first game will be counted</li>
                <li>If all of the remaining players are eliminated all of these player will go through to the next round</li>
                <li>The decision of the committe is always final</li>
                <li>The Last one standing is the winner</li>
            </ul>
        </div>
    </div>
   
</div>